/*
 * This file contains and imports scss variables.
 * It is also used to override default styling to design custom styles.
 *
 * ⚠️ This file must not contain any css rules. It is imported in many places,
 * and css rules in this file would result in a copy of all of the rules per import.
 */

/*
 * Masterportal Default Style (Override of Bootstrap)
 */
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$badge-border-radius: 10px;
$font-family-sans-serif: MasterPortalFont, Arial, sans-serif;
$icon-font-path: "fonts/";

/* PRIMARY: Map Interaction
 * Used for control elements placed directly on the map.
 * Elements: Buttons and button-like elements.
 * Examples: ZoomButtons, MousePosition, ...
 */
$primary: #E10019;
$primary_hover: lighten($primary, 5%);
$primary_focus: lighten($primary, 15%);
$primary_active: darken($primary, 10%);
$primary_contrast: #F3F3F3;
$primary_inactive: grey;
$primary_inactive_contrast: white;
$primary_outline: #050505;

/* SECONDARY: Navigation
 * Used for the nav bar, its children, and going back and forth within elements.
 * Elements: Navigation bars and togglers, overall content.
 * Examples: NavBar, open/close tool, layer list, change tabs, back button, next entry ...
 * NOTE Bootstrap 3 has some colours for "NavBar" and "Panels" - use instead of a secondary?
 */
$secondary: #F3F3F3;
$secondary_table_style: #F2F2F2;  // background for table view style
$secondary_border: #e5e5e5;
$secondary_hover: #08589e;
$secondary_hover_contrast: #F3F3F3;
$secondary_focus: #337ab7;
$secondary_focus_contrast: #F3F3F3;
$secondary_active_drop: rgba(227, 227, 227, 0.5);
$secondary_contrast: #333333;
$secondary_icon_button: #525252;
$secondary_selected: rgb(184, 89, 0);  

/* ACCENT: Action
 * Action color for windows to trigger actions like saving or sending.
 * Elements: Buttons.
 * Examples: start search (for e.g. parcels), save something, draw something, send a message, ...
 */
$accent: #337ab7;
$accent_hover: #3177b1;
$accent_focus: #204d74;
$accent_active: #204d74;
$accent_disabled: #7aa9d0;
$accent_contrast: #ffffff;


/* NOTIFICATION COLOURS
 * Notification colours can and should be used directly from Bootstrap 3.
 * Keywords: success, info, warning, danger
 */

/* ICON SIZES */
$icon_length: 36px;
$icon_length_small: 24px;
$icon_length_menu: 0px; // TODO figure out correct value before usage
$icon_length_list: 0px; // TODO figure out correct value before usage

/* FONT STYLES
 * TODO why is Arial Narrow an alternative to MPF Bold?
 */
$font_family_default: "MasterPortalFont", "Arial", sans-serif;
$font_family_narrow: "MasterPortalFont", "Arial Narrow", Arial, sans-serif;
$font_family_accent: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;

/* NOTE if three sizes suffice, we could move this to bootstrap 3 variables */
$font_size_huge: 16px;
$font_size_big: 14px;
$font_size_default: 12px;
$font_size_small_custom: 11px;
$font_size_tiny: 10px;

/* Should something like this be supported for windows resp. buttons? TODO discuss */
$interaction_border_radius: 0px;
$information_border_radius: 0px;

/* other */
$shadow: rgba(0, 0, 0, 0.176);
$shadow_overlay: rgba(0, 0, 0, 0.4);
$tool_box_shadow: 0 6px 12px rgba(0, 0, 0, 0.176);


/*
 * Customer Style. In this place, all previously mentioned variables may be overwritten
 * to achieve a different look and feel from the default Masterportal design.
 *
 * Please note that the theme is currently under development and only used in some parts of the
 * application - changes will have limited effects.
 */

// ... $brand-primary: #000;

// Padding used for the Tool windows
$padding: 20px;


/*
 * Imports from Bootstrap
 */
 @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
 @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";