$color_1: #555;
$font_family_1: "MasterPortalFont Bold","Arial Narrow",Arial,sans-serif;
$background_color_1: rgba(227, 227, 227, 0.5);

/*------------------------Menubar--------------------------------------*/
.navbar {
    min-height: 50px;
    font-family: $font_family_1;
    border: 0;
    position: relative;
    margin-bottom: 0;
    display: none;
    background: white;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(51,51,51);
    padding-top: 14px;
}
.dropdown-menu {
    padding: 0;
}
#root {
    >.dropdown {
        color: $color_1;
        font-size: 14px;
    }
    .dropdown {
        border-right: 1px solid #e5e5e5;
    }
    .active {
        background-color: $background_color_1;
    }
    padding-left: 0px;
}
.navbar-collapse {
    padding:0;
    &.in {
        position: absolute;
        top: 50px;
        z-index: 999;
        width: 100%;
        max-height: 66vh;
        left: 0px; 
    }
}
@media (min-width: 768px) {
    .navbar {
        .container-fluid {
            padding-left: 0;
        }
    }
}
@media (max-width: 767px) {
    .navbar {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .navbar-collapse {
        &.in {
            max-height: inherit;
            z-index: 1000;
        }
    }
}