<!DOCTYPE html>
<div class="btn-group header">
    <span class="glyphicon <%=glyphicon%>"></span>
    <span class="tool-name"><%= name %></span>
    <% if (isVisibleInMenu === true) { %>
        <div class="float-right">
            <span tabindex="0" class='closeView glyphicon glyphicon-remove' aria-label="Close"></span>
        </div>
    <% } %>
</div>
<div class="simple-views-container"></div>
<div class="detail-view-container"></div>
