<!DOCTYPE html>
<span class="layer-item checkboxicon-left pull-left">
        <% if (isVisibleInMap === true) { %>
        <div id="isActivated">
            <span class="icon-checkbox" title="<%= removeTopicText %>"></span><span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span></span></div>
        <% } else { %>
            <span class="icon-checkbox2" title="<%= showTopicText %>"></span><span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span></span>
        <% } %>
</span>
<span class="pull-right">
    <span class="glyphicon glyphicon-info-sign" title="<%= infosAndLegendText %>"></span>
    <span class="glyphicon glyphicon-cog rotate" title="<%= settingsText %>"></span>
</span>
